.header{
    background-image: url("https://image.freepik.com/free-photo/newborn-baby-sleeping-hands-mother-nose-collided_1150-19520.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 580px;
    width: 100%;
    /* border: 1px solid red; */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.list{
    color:blanchedalmond;
}